@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 225, 248, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 5, 5, 5;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h1 {
  @apply text-lg font-bold
}

p {
  @apply mb-4
}

ul.vertical {
  @apply list-disc list-inside
}

.required {
  @apply text-red-700
}

.textarea-label {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
}

.textarea-field {
  @apply block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.fieldset-block {
  @apply flex border border-solid border-gray-500 p-4 h-full
}

.fieldset-text {
  @apply flex mt-auto w-3/4 p-4 rounded-t-xl rounded-br-xl bg-amber-200 dark:bg-gray-600
}

.submit-button {
  @apply px-8 py-3 text-white bg-blue-300 rounded focus:outline-none
}

.screen-centered {
  @apply flex flex-col items-center justify-center
}

.page-content {
  @apply min-h-screen p-4
}

.page-title {
  @apply mb-4 text-xl font-bold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-3xl dark:text-white
}

.page-header {
  @apply flex flex-row flex-wrap items-center justify-between p-4
}

.page-footer {
  @apply p-4
}

.page-nav a {
  text-decoration: underline;
}

.page-nav ul {
  @apply flex
}

.page-nav li {
  @apply mr-6
}

.radio-group {
  @apply text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white
}

.radio-group-title {
  @apply mb-2 text-sm font-medium text-gray-900 dark:text-white
}

.radio-group.radio-group-horizontal {
  @apply items-center w-full sm:flex
}

.radio-group.radio-group-vertical {
  @apply w-48
}

.radio-group .radio-group-item {
  @apply w-full border-b border-gray-200 dark:border-gray-600
}

.radio-group.radio-group-horizontal .radio-group-item {
  @apply sm:border-b-0
}

.radio-group.radio-group-horizontal .radio-group-item:not(:last-child) {
  @apply sm:border-r
}

.radio-group.radio-group-vertical .radio-group-item {
  @apply rounded-t-lg
}

.radio-group-item-inner {
  @apply flex items-center pl-3
}

.radio-group-input {
  @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500
}

.radio-group-label {
  @apply w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300
}

.parse-mode-block {
  @apply w-full lg:w-2/4 p-4
}

.message-block,
.targets-block,
.bot-info-block {
  @apply w-full flex
}

.targets-block-tooltip pre {
  @apply whitespace-normal
}

.message-block .message-text,
.message-block .message-preview,
.targets-block .targets-input,
.bot-info-block .bot-info-input,
.bot-info-block .bot-info-info {
  @apply w-full lg:w-2/4 p-4 flex-auto
}

div[class*="block-tooltip"] {
  @apply text-xs text-gray-500
}

.input-file-label,
.input-text-label {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
}

.input-file-field {
  @apply block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 file:p-2 file:bg-gray-100 file:border-0 dark:file:bg-gray-800 dark:file:text-white
}

.input-text-field {
  @apply w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}